{% extends "base.html" %}
{% block content %}

{% if form.errors %}
<p>Check your username and password</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>You can't access this page. Please login with correct account</p>
    {% else %}
    <p>Login using your userid and password</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
